$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

text {
  font: 10px sans-serif;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

*
{
  box-sizing: border-box;
}

.Modal-backdrop
{
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  z-index: 1;
  opacity: 0.5;
}

.Modal-holder
{
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: transparent;
  z-index: 2;
  padding: 30px 15px;
}

.Modal-box
{
  margin: 0 auto;
  width: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
  position: relative;
}

@media screen and (min-width: 992px)
{
  .Modal-box
  {
    width: 50%;
    padding: 30px;
  }
}


.popover{
  max-width:320px;
}

div.escucha-date{
  font-size:1.3em;
  font-weight:bold;
  text-align:center;
}

div.escucha-linea{
  font-size:1.15em;
  text-align:center;
}

div#metadata{
  overflow-y:auto;
  max-height:500px;
}
