<h3>Escucha de Nisman: <b>{{id}}</b></h3>

<p>Telefono origen: <b>{{escucha.origen}}</b></p>
<p>Telefono destino: <b>{{escucha.destino}}</b></p>
<p>Provincia: <b>{{escucha.provincia}}</b></p>
<p>Localidad: <b>{{escucha.localidad}}</b></p>
<p>Direccion: <b>{{escucha.direccion}}</b></p>
<p>Inicio: <b>{{escucha.inicio | date:'medium'}}</b></p>
<p>Fin: <b>{{escucha.fin | date:'medium'}}</b></p>

<div style="padding-top:50px; padding-bottom:30px;">
  <videogular vg-theme="audio.theme">
      <vg-media vg-src="audio.sources" vg-type="audio">
    </vg-media>

    <vg-controls>
      <vg-play-pause-button></vg-play-pause-button>
      <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      </vg-scrub-bar>
      <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
      <vg-volume>
        <vg-mute-button></vg-mute-button>
        <vg-volume-bar></vg-volume-bar>
      </vg-volume>
      <vg-fullscreen-button></vg-fullscreen-button>
    </vg-controls>
  </videogular>
</div>

<div class="text-center">

<p>Link permanente: <input type="text" value="http://{{host}}/#/escucha/{{requestId}}" style="width:300px;" select-on-click></p>
<br>
<a class="btn btn-primary" href="http://es.causanisman.wikia.com/wiki/{{id}}" target="_blank">Wiki transcripcion</a>
</div>
