<p>Graficadas <b>{{grafo.num}}</b> escuchas. No se incluyen las <b>{{grafo.notincluded}}</b> grabaciones que no tienen datos de origen/destino</p>
<div class="row">
<div id="grafo" class="col-sm-9" style="width:960px;"></div>
<div class="col-sm-3" id="metadata" ng-if="loading">
  <h3>Espere por favor</h3>
</div>
<div class="col-sm-3" id="metadata" ng-if="selected.node.name && loading == false">
  <h2>Linea {{selected.node.name}}</h2>


  <span  ng-if="selected.out.length > 0">
    <h3>Llamadas salientes</h3>
    <accordion>
      <accordion-group ng-repeat="(key, value) in selected.out | groupBy:'date'">
          <accordion-heading>
            <div class="escucha-date">{{key | date:'yyyy-MM-dd'}}</div>
          </accordion-heading>
          <table class="table table-striped">
            <tbody>
              <tr ng-repeat="call in value">
                <td>{{call.inicio |date:'HH:MM:ss'}}</td>
                <td><div class="escucha-linea"><a ui-sref=".escucha({id:call.id})">{{call.origen}}</a></div></td>
              </tr>
            </tbody>
          </table>
      </accordion-group >
    </accordion>
  </span>

  <span  ng-if="selected.in.length > 0">
    <h3>Llamadas entrantes</h3>
    <accordion>
      <accordion-group ng-repeat="(key, value) in selected.in | groupBy:'date'">
          <accordion-heading>
            <div class="escucha-date">{{key | date:'yyyy-MM-dd'}}</div>
          </accordion-heading>
          <table class="table table-striped">
            <tbody>
              <tr ng-repeat="call in value">
                <td>{{call.inicio |date:'HH:MM:ss'}}</td>
                <td><div class="escucha-linea"><a ui-sref=".escucha({id:call.id})">{{call.origen}}</a></div></td>
              </tr>
            </tbody>
          </table>
      </accordion-group >
    </accordion>
  </span>


</div>
</div>
<div ui-view autoscroll="false"></div>
