

<div>
  <div style="display:none;" ng-include=" 'views/donatePopup.html' "></div>
  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="main.grafo"><img src="images/icon.png" style="margin-top:-10px;"></a>
        <a class="navbar-brand" ui-sref="main.grafo">Chusmearemos</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ui-sref-active="active"><a ui-sref='.grafo'>Grafo</a></li>
          <li ng-class="{active: isActive('main.restantes')}"><a ui-sref='.restantes.page({pag:1})'>Restantes</a></li>
          <li ui-sref-active="active"><a ui-sref='.search'>Buscar</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>

            <a target="_blank" href="http://sicarul.com">Creado por Pablo Seibelt</a>
          </li>
          <li>
            <a href ng-model="popup.content" popup="popup.options" href>Donar <i class="glyphicon glyphicon-bitcoin"></i></a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/sicarul/chusmearemos">Disponible en github</a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

  <!-- Main component for a primary marketing message or call to action -->
  <div ui-view>

  </div>

</div> <!-- /container -->
