<h2>Buscar un audio</h2>

<form ng-submit="buscar()">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="input-group">
        <input ng-model="filename" type="text" class="form-control" placeholder="Nombre del archivo">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Buscar</button>
        </span>
      </div><!-- /input-group -->

      <div ng-if="error" class="alert alert-danger">No se ha encontrado el audio solicitado, verifique que el nombre del archivo sea correcto</div>
    </div><!-- /.col-sm-8 -->
  </div><!-- /.row -->
</form>
